/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------our css------------ */
*,
*::after,
*::before {
  box-sizing: border-box;
}

.font {
  font-family: "DM Serif Display", serif;
  font-family: "DM Serif Display", serif;
  font-family: "Karla", sans-serif;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-family: "DM Serif Display", serif;
  padding: 2rem 0;
  color: black;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  font-family: "DM Serif Display", serif;
  color: black;
  padding: 1.5rem 0;
}
h3 {
  font-size: 17px;
  font-family: "DM Serif Display", serif;

  padding: 1.5rem 0;
  color: black;
}
h4 {
  color: black;
  font-family: "DM Serif Display", serif;

  font-size: 14px;
}

p {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  padding: 1rem 0;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  margin: 0 1rem;
}
.header {
  color: white;
  text-decoration: none;
  align-items: center;
}
.navview {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-right: 0;
}
tab {
  margin-left: 11rem;
}
/* sec1 */

.sec1 {
  background-color: rgb(45, 38, 64);
  height: 60vh;
  vertical-align: top;
}

.home h2 {
  font-size: 50px;
  color: white;
  font-weight: 300;
  padding-bottom: 0;
}
.home p {
  color: white;
  margin-bottom: 1rem;
}

.home a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  background-color: rgb(45, 38, 64);
  padding: 1rem 2rem;
  margin: 4rem 0;
  border-radius: 5px;
  font-weight: 800;
}

.row1col {
  width: 46%;

  margin: 1%;
}

/*    sec2 */

.about {
  margin-top: 16rem;
  margin-bottom: 5rem;
}

.row2col {
  width: 46%;

  margin: 1%;
}

.row2col img {
  width: 100%;
}

.row2col h2 {
  text-shadow: 1px 1px 1px black;
  font-size: 40px;
  margin-top: 4rem;
  font-weight: 200;
}

.row2col p {
  color: gray;
  margin-bottom: 2rem;
}

.row2col a {
  border: 1px solid black;
  color: gray;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-left: 0;
}

/* sec3 */

.row3col {
  width: 30.33%;
  margin: 1%;
}

.contact h2 {
  text-shadow: 1px 1px 1px black;
  font-size: 40px;
  margin-top: 4rem;
  font-weight: 200;
}

.row3col h3 {
  font-size: 32px;
  font-weight: 400;
}

.row3col a {
  background-color: rgb(138, 180, 240);
  border-radius: 100%;
  padding: 1rem;
  color: white;
}

.row3col p {
  font-size: 16px;
  color: rgb(104, 102, 102);
}

/* sec4 */

.sec4 {
  background-color: rgb(45, 38, 64);
}

.sec4 h3 {
  font-size: 34px;
  font-weight: 500;
  color: white;
  display: block;
  margin: 5rem 2rem;
}
.sec4 a {
  font-size: 22px;
  font-weight: 400;
  color: white;
  border: 1px solid white;
  padding: 1rem 2.5rem;
}

.row4col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

/* sec5 */

.sec5 {
  align-items: center;
}

.sec5 h2 {
  margin-bottom: 0;
}

.bottomicon {
  align-items: flex-end;
  justify-content: last baseline;
}

/* sec6 */
.sec6 {
  text-align: center;
}

.nav1 {
  margin: 1.5rem 0;
}

/* footer */

.footer {
  background-color: rgb(45, 38, 64);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer h3 {
  color: white;
}
